/* ========================================================= */
/* Basic column layouts                                      */
/* ========================================================= */
.column, .two-thirds, .two-quarters, .three-quarters {
    display: inline-block;
    float: left;
    margin-right: 3.5%;
    min-height: 1px;
}
.two-columns, .three-columns, .four-columns, .five-columns { overflow: hidden; }
.row { overflow: hidden; }
.two-columns .column { width: 48.25%; }
.three-columns .column { width: 31%; }
.four-columns .column { width: 22.325%; }
.five-columns .column { width: 17.2%; }
.last {
    margin-right: 0px;
    /*  One alternative for surviving browser differences in subpixel rounding.
        The other is negative margins of a few pixels on last.
        NB: this causes issues with content that takes too much space. */
    overflow: hidden;
    width: auto;
}

/*
    This is an IE fix for cases where the width:auto approach does not work.
    These are ideally placed in a an ie.css file
*/
.two-columns .column.last { width: 48.2%; }
.three-columns .column.last { width: 30.5%; }
.four-columns .column.last { width: 22.2%; }


.column img, .column object, .column embed { max-width: 100%; height: auto; }

/* Uneven divisions ============================= */
.two-thirds { width: 62%; }
.four-columns .two-quarters { width: 48.35%; }
.four-columns .three-quarters { width: 72.375%; }
